#메인메뉴 {
 margin: 0;
 padding: 0 1em;
 background: #333333;
 height: 3em;
 list-style: none;
}

#메인메뉴 > li {
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
}

#메인메뉴 > li > a {
 float: left;
 height: 100%;
 color: #ffffff;
 text-decoration: none;
 line-height: 3;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 14px;
 font-family: 'Nanum Gothic', sans-serif;
}

#메인메뉴 > li > a:hover {
 color: #b4b4b4;
 text-decoration: underline;
}

#메인메뉴 > li.sub {
 position: relative;
}

#메인메뉴 > li.sub ul {
 width: 10em;
 margin: 0;
 padding: 0.5em 0;
 list-style: none;
 background: #9e9e9e;
 position: absolute;
 top: -1000em;
}

#메인메뉴 > li.sub ul li {
 width: 90%;
 margin: 0 auto 0.3em auto;
}

#메인메뉴 > li.sub ul li a {
 height: 100%;
 display: block;
 padding: 0.4em;
 color: #ffffff;
 font-weight: bold;
 text-decoration: none;
}

#메인메뉴 > li.sub ul li a:hover {
 background: #9e9e9e;
 text-decoration: underline;
}

#메인메뉴 > li.sub:hover ul {
 top: 3em;
}
#all-1 {
  background-color: #ffffff
}
